body.landing {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;        
    height: 100vh;              
    margin: 0;                  
    color: black;

    background-image: url("/static/imagens/feirafrutasimg.png");
    background-position: center 5px;  /* X = centro, Y = 120px abaixo do topo */
    background-repeat: no-repeat;
    background-size: 1200px;
    z-index: 0;
    filter: saturate(100%);
}

body.landing::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: inherit;   /* copia o fundo do body */
    filter: blur(1px);     /* aplica o desfoque*/
    z-index: -1;          /* coloca atrás do conteúdo */
}

body.login {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;        
    height: 100vh;              
    margin: 0;                  
    color: black;

    background-image: url("/static/imagens/feirafrutasimg.png");
    background-position: center 5px;  /* X = centro, Y = 120px abaixo do topo */
    background-repeat: no-repeat;
    background-size: 1200px;
    z-index: 0;
    filter: saturate(100%);
}

body.login::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: inherit;   /* copia o fundo do body */
    filter: blur(1px);     /* aplica o desfoque*/
    z-index: -1;          /* coloca atrás do conteúdo */
}



body.menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;        
    height: 100vh;              
    margin: 0;                  
    color: black;

    background-image: url("/static/imagens/feirafrutasimg.png");
    background-position: center 5px;  /* X = centro, Y = 120px abaixo do topo */
    background-repeat: no-repeat;
    background-size: 1200px;
    z-index: 0;
    filter: saturate(100%);
}

body.menu::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: inherit;   /* copia o fundo do body */
    filter: blur(1px);     /* aplica o desfoque*/
    z-index: -1;          /* coloca atrás do conteúdo */
}

h1 {
    text-align: center;
}

.botaovalidar {
    margin-top: 15px;
    padding: 8px;
    background-color: #11581a;
    color: white;
    border: none;
    width: 300px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.botaosalvar {
    margin-top: 15px;
    padding: 10px;
    background-color: #11581a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /*largura do botão */
    font-weight: bold;
}


.botaocomecar {
    margin-top: 15px;
    padding: 10px;
    background-color: #11581a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /*largura do botão */
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;   /* empilha os filhos */
    justify-content: center;  /* centraliza verticalmente */
    align-items: center;      /* centraliza horizontalmente */
    height: 100vh;            /* ocupa tela toda */
    gap: 15px;                /* espaço entre os elementos */
}

.frutas {
    width: 300px;
    font-weight: bold;;
}

/* Deixa o fundo escuro */
#meuModal {
   position: fixed;   /* fica sobre tudo */
   top:100; left:0;
   width:100%; height:100%;
   background: rgba(0,0,0,0.5); /* fundo escuro transparente */
   display:none; /* começa escondido */
}

/* A caixinha central */
#meuModal .conteudo {
   background: white;
   margin: 10% auto;
   padding: 200px;
   width: 300px;
}

#mensagem {
    text-align: center;
}

h2 {
    text-align: center;
}

#fechar {
    align-items: center;
}